volumes:
  prometheus_data: {}
  grafana_data: {}

services:
  load-scale:
    build: .
    restart: unless-stopped
    depends_on:
      - prometheus
      - grafana
    environment:
      - HOST_URL=${HOST_URL}
      - HOW_MANY_USERS=${HOW_MANY_USERS:-100}
      - USERS_PER_ROOM=${SEATS_PER_ROOM:-10}
      - LOGIN_BATCH=${LOGIN_BATCH:-5}
      - SSL_ENABLED=${SSL_ENABLED:-yes}
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_NAME=${DATABASE_NAME}
      - TASK_ID=1

  prometheus:
    image: prom/prometheus:v2.28.0
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    restart: unless-stopped

  grafana:
    image: grafana/grafana:8.0.3
    depends_on:
      - prometheus
    ports:
      - 3300:3000
    volumes:
      - grafana_data:/var/lib/grafana
      # - ./grafana/provisioning/:/etc/grafana/provisioning/
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=foobar
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
